.content .cv{
    display:flex;
    justify-content:center;
    overflow:hidden;
}

.myspan{
    position: absolute;
    pointer-events:none;
    animation:fade 1s linear infinite;
    filter:drop-shadow(0 0 15px rgba(0 0 0 0.5));
}
@keyframes fade{
    0%,100%{
        opacity:0;
    }
    20%,80%{
        opacity:1;
    }
}

.myspan::before{
    content:'';
    position: absolute;
    width:70%;
    height:70%;
    background: url('../ima/R.png');
    background-size:cover;
    animation: moves 1s linear infinite;
}
@keyframes moves{
    0%{
        transform: translate(0) rotate(0deg);
    }
    100%{
        transform: translate(300px) rotate(360deg);
    }
}

.content .cv img{
    width:70%;
    height:81vh;
}

.content .cv{
    display: flex;
    justify-content: flex-start;
    width:100%;
    height:85%;
    background:palegoldenrod;
}

.content .cv .data{
    width:25%;
    background:#efefef;
    padding-bottom:10px;
}
@media(Max-width:1000px){
    /* .contact{
        overflow: auto;
    } */
    .content .cv{
        display:flex;
        flex-direction:column;
        overflow:auto;
        position:initial;
    }
    .content .cv .data{
        width:100%;
    }
}
.content .cv .data .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content .cv .data .contact div{
    display: flex;
    align-items: center;
    width:100%;
    gap: 25px;
    color: blue;
    padding-left: 30px;
}
.content .contact div h6{
    font-size:15px;
}
.content .cv .data .contact div svg{
    color:#000000ba;
    font-size:22px;
}
.content .cv .text .sklls{
    padding: 0 0 0 8px
}
.content .cv .text .html{
    width:100%;
    height:24px;
    display:flex;
    position:relative;
    align-items: center;
    justify-content: space-evenly;
    text-align:center;
}
.content .cv .text .html.js{
    margin-bottom:20px;
}
.content .cv .text .sklls .html h4{
    width:20%;
    display:flex;
}
.content .cv .text .sklls h4{
    color: #000000b8;
    font-size:18px;
}
.content .cv .text .html span{
    width: 20px;
    height:20px;
    background:blue;
    border-radius: 50%;
}
.content .cv .text .html span:last-of-type{
    background:#727272d9;
}
.content .cv .text .html.first span{
    background:blue;
}
.content .cv .text .html.next span:nth-child(n+5){
    background:#727272d9;
}
.content .cv .text .html.ts span:nth-child(n+4){
    background:#727272d9;
}
.content .cv .ima{
    display:flex;
    justify-content:center;
    width:100%;
}
.content .cv .ima img{
    display:block;
    width:100%;
    height:110%;
}
